body {
    margin: auto;
    width: 960px;
    background-image: url(/assets/images/dynamic-style.png);
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* border #cccccc */

.left {
    float: left;
    padding-right: 15px;
    padding-bottom: 50px;
}
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
    color: #ffffff;
    padding: 10px;
}

header {
    color: #ffffff;
    background: #4aaaa5;
    
}

/* need to float/flexbox nav over/with header 
header background color just behind text
*/

nav {
    background: #ffffff;
    padding: 20px;
    text-align: right;
}

li {
    display: inline;
}

section {
    background: #ffffff;
    padding: 20px;
}

footer {
    background: #666666;
    position: absolute;
 bottom: 0;
}
/* don't know why footer is so weird & small.. */

article {
    background: #777;
}

aside {
    background: white;
}

/* button background color:#4aaaa5, p */