body {
    margin: auto;
    width: 960px;
    background: #dddddd;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.left {
    float: left;
    padding-right: 15px;
    padding-bottom: 50px;
}
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
    color: #ffffff;
    padding: 10px;
}

header {
    color: #ffffff;
    background: #4aaaa5;
    
}

nav {
    background: #ffffff;
    padding: 20px;
    text-align: right;
}

li {
    display: inline;
}

section {
    background: #ffffff;
    padding: 20px;
}

aside {
    background: #ebebeb;
}

footer {
    background: #666666;
}

article {
    background: #777;
}

aside {
    background: white;
}